<h1 class="heading">My List</h1>

<%= link_to 'Add a book', new_book_path%>
<% if @books %>
    <% @books&.each do |book|%>
    <p class="book-item">
        <%= link_to book.title, book_path(book) %>
        <%= link_to book.author.name, author_path(book.author) %>
    </p>
    <%end%>
<%end%>

<h2 class="list-item">You are following <%= current_user.following.length %> users</h2>
<ul>
    <% current_user.following.each do |user| %>
    <li class="list-item">
        <%= user.name %>
    </li>
    <% end %>
</ul>